.form {
  display: flex;
  flex-direction: column;
  max-width: 200px;
  justify-content: center;

  &__label {
    margin: 5px 0;
  }

  &__input {
    margin-top: 5px;
  }

  &__btn {
    max-width: 155px;
    margin-top: 5px;
    padding: 10px;
  }
}
